# use python 3.10.10

# python -m pip install paddlepaddle-gpu==2.6.2.post120 -i https://www.paddlepaddle.org.cn/packages/stable/cu120
# python -m pip install paddlepaddle-gpu==2.6.2.post117 -i https://www.paddlepaddle.org.cn/packages/stable/cu117

# paddleslim==2.6.0  # python ./setup.py install  # install first

numpy < 1.24
protobuf<=3.20.2
tqdm
typeguard
visualdl>=2.2.0
opencv-python <= 4.6.0
PyYAML
shapely
scipy
terminaltables
Cython
pycocotools
setuptools

# for MOT evaluation and inference
lap
motmetrics
sklearn==0.0

onnx
onnxruntime
onnxsim
# paddle2onnx==1.2.0 #  使用手工编译
Pillow==9.5.0

# for vehicleplate in deploy/pipeline/ppvehicle
pyclipper

